/*Custom CSS*/

.task-table {
	display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.task-table-cell {
	width:125px;
}


/*For FullCalendar:*/

/*To change the padding of events on month calendar*/
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
	padding: 4px;
}









